@import 'variables';

.home__text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // width: 100%;
}

.home__text-part{
  width: 22.5rem;
}

.img_map{
  position: relative;
  top: 50px;
  z-index: 2;
}