@import 'variables';

section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5rem;
}

.img_map{
  // position: absolute;
    // left: 255px;
    // top: 1119px;
    // width: 1090px;
    // height: 614px;
    // z-index: 2;
}