@import "variables";

main {
  h2 {
    align-self: flex-start;
    width: 80%;
    margin: 0;
    margin: auto;
    padding-top: 1rem;
  }
  .menu-out {
    .menu-in {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      max-height: 85rem;
      @media screen and (max-width: 1200px) {
        max-height: 110%;
      }
      @media screen and (max-width: 800px) {
        max-height: 110%;
      }
      > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 55%;
        padding: 1rem;
        @media screen and (max-width: 1200px) {
          flex-direction: row;
          width: 80%;
        }
        @media screen and (max-width: 800px) {
          flex-direction: column;
          width: 100%;
        }
      }
      .name-and-items {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .non-alcoholic,
      .alcoholic {
        display: flex;
        flex-direction: column;
      }
    }
  }

  img {
    width: 80%;
    padding: 0;
    margin-bottom: -4rem;
  }
}
